%h2.deployments__group= t '.case_editors'

- editorships.select(&:persisted?).sort_by(&:editor_name).each do |editorship|
  .editorship.non-spaced
    %span.bp4-tag.bp4-minimal= editorship.editor_name
    - unless editorship.editor == current_reader
      = form_with url: editorship_path(editorship),
                  method: :delete, local: true do |f|
        = f.button '',
                   aria: { label: I18n.t('editorships.destroy.remove') },
                   class: %w[bp4-button bp4-small bp4-minimal bp4-intent-danger bp4-icon-small-cross bp4-unsaturated],
                   data: { confirm: I18n.t('editorships.destroy.are_you_sure',
                                           name: editorship.editor_name) }
