- content_for :title, '403 Forbidden'

.bp4-dark
  .bp4-non-ideal-state
    .bp4-non-ideal-state-visual.bp4-non-ideal-state-icon
      %span.bp4-icon.bp4-icon-error

    %h4.bp4-non-ideal-state-title 403 Forbidden

    .bp4-non-ideal-state-description
      %p You do not have permission to access this resource.

    .bp4-non-ideal-state-action
      = link_to 'Return to the Home Page', root_path,
                class: %i[bp4-button bp4-intent-primary]

