- if libraries.any?
  = form_for kase, url: case_library_path(kase),
                    builder: BlueprintFormBuilder do |f|
    = f.form_group :library_id do |f, error_classes|
      .bp4-control-group
        .bp4-select.bp4-fill{class: error_classes}
          = f.select :library_id, libraries.map { |l| [l.name, l.id]  },
                     include_blank: t('activerecord.models.shared_cases_library')
        = f.submit I18n.t('cases.settings.edit.change_library'),
                   class: %w[bp4-button bp4-intent-success]
