<div class="deployment__invite__drawer" data-controller="clipboard">
  <div class="deployment__invite__instructions">
    <%= t '.invite_instructions_html' %>
  </div>

  <div class="deployment__invite__link bp4-control-group">
    <div class="bp4-input-group bp4-fill">
      <span class="bp4-icon bp4-icon-new-person"></span>
      <input
        aria-label="<%= I18n.t 'deployments.deployment.invite_link',
                               case_kicker: deployment.case.short_title,
                               group_name: deployment.group.name %>"
        class="bp4-input"
        data-target="clipboard.source"
        value="<%= deployment.magic_link %>"
      />
    </div>
    <button class="bp4-button bp4-icon-clipboard" data-action="clipboard#copy">
      <%= t 'helpers.copy' %>
    </button>
  </div>
</div>
